#parCoordsContain {
  font-family: Lato !important;
  position: relative;
  display: flex;
}

#parCoordsContain > * {
  position: relative;
}

.plot-container .plotly {
  display: flex;
  position: relative;
  left: 0;
}

#legSelectContain {
  display: flex;
  position: absolute;
  font-size: 14px;
  width: 200px;
  height: 600px;
  right: 0;
  top: 100px;
}

#legend3 {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

#select {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  top: 320px;
}
