#parCoordsContain {
  font-family: Lato;
  position: relative;
  display: flex;
}

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
  font-family: Lato !important;
}

.axis-title{
  font-size: 14px !important;
  font-family: Lato !important;
}

.gtitle{
  font-family: Lato !important;
  font-size: 20px !important;
}

#legSelectContain {
  font-family: Lato !important;
  width: 200px;
  height: 600px;
  right: 0;
  top: 140px;
  position: relative;
}

#legend3 {
  z-index: 1;
}
.textselected{
  font-size: 13px !important;
}
text{
  font-size: 13.5px !important;
  font-family: Lato !important;
}
#select {
  font-family: Lato !important;
  font-size: 14px;
  z-index: 2;
  top: 0px;
  left: 0px;
  top: 320px;
}
